h2 {
  font-weight: normal;
  font-size: 52px;
}

:root {
  --sub-color: #0000009a;
  --text-color: black;
}

* {
  margin: 0;
  bottom: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: white;
  color: var(--text-color);

  transition: all 0.3s linear;
}

.night {
  background: black;
  --text-color: white;
  --sub-color: #ffffffc2;
}

.container {
  text-align: center;
  width: 600px;
  max-width: 600px;
  padding: 50px;
}

.icon {
  font-size: 28px;
}